.changePasswordFormInputArea{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 2rem;
    vertical-align: middle;
    width: 100%;
}
.changePasswordInput{
    border-radius: 20px;
    height: 2rem;
    padding: 0 10px;
    background-color: #ffffff;
}
.changePasswordInput::placeholder{
    font-size: 11px;
    
}

#settingModalBg{
    position: fixed;
    top: calc(50%-100vh/2);
    left: calc(50%-100vw/2);
}
#profileImgFile{
    z-index: 10;
    position: absolute;
    opacity: 0;
    width: 130px;
    height: 130px;
}
#profileImg{
    width: 130px;
    height: 130px;
}