body {
    background-image: url(/public/img/basicBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -7rem;
}
.bodyArea{
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0.5rem 0.5rem rgb(177, 177, 177);
}
.infoArea{
    background-color: #eef1ff;
}




.footerContent{
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0.5rem 0.5rem rgb(177, 177, 177);
    font-family: 'Gowun Dodum';
}