.moblieScreen{
    height: 100vh;
    background-image: url(/public/img/nopeBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 380px;
    padding-top: 4rem;
}
body {
    background-image: url(/public/img/basicBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyArea{
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0.5rem 0.5rem rgb(177, 177, 177);
}
.infoArea{
    background-color: #eef1ff;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0 1rem;
    border-right: 2px solid black;
}
.navItems{
    align-items: center;
    padding: 10px 15px;
    border-color: black;
    border-style: solid;
}
.navItemsIcon{
    width: 2rem;
    height: 2rem;
}

.footerContent{
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0.5rem 0.5rem rgb(177, 177, 177);
    font-family: 'Averia Sans Libre';
} 

.happyBankColor{
    width: 25px;
    height: 27px;
    border-radius: 50%;
}